*.log
**/*.log
**/*.init.h
**/*.config.h
*/*.caffemodel
**/__pycache__/
.vscode/
**.caffemodel
**.jou
**.onnx

**/*_prj/
_prj/

data/
**.bin
**.csv
**.yaml
**.yml
rpt/

runs/**/logs/
runs/**/*_param.hpp

outputs/
data/inputs/
data/weights/

test/modules/**/tb/*_param.hpp

test/layers/**/src/*_layer.cpp
test/layers/**/include/*
test/layers/**/tb/*_param.hpp

test/networks/**/partition_*

host/.metadata
host/.sdk
host/fpgaconvnet_bsp/ps7_cortexa9_0

onnx/

include/system.hpp
